body{
    background-color: rgb(196, 196, 196);
    margin: 0%;
}
.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: inline-block;
    text-align: center;
}
.post1{
     width: 480px;
     height: 650px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.664);
    border-style: groove;
}
.post1-head{
    margin-left: 10px;
    margin-top: 3px;
    font-size:larger ;
    
}
.post1-img{
    background-image: url(https://c.pxhere.com/images/54/08/872c1c8e717bd7c925854db2e0b5-1594349.jpg!d);
    padding-bottom: 545px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15;
    background-size: cover ;
}
.post1-foot{
    margin-top: 10px;
    font-size: small;
}
.post2{
    width: 480px;
    height: 650px;
   margin: auto;
   margin-top: 100px;
   background-color: rgba(255, 255, 255, 0.664);
   border-style: groove;
}
.post2-head{
   margin-left: 10px;
   margin-top: 3px;
   font-size: larger;
}
.post2-img{
   background-image: url(https://cdn.pixabay.com/photo/2022/11/21/00/08/dog-7605536_1280.jpg);
   padding-bottom: 545px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 15;
   background-size: cover;
}
.post2-foot{
   margin-top: 10px;
   font-size: small;
}
.post3{
    width: 480px;
    height: 650px;
   margin: auto;
   margin-top: 100px;
   background-color: rgba(255, 255, 255, 0.664);
   border-style: groove;
}
.post3-head{
   margin-left: 10px;
   margin-top: 3px;
   font-size: larger;
}
.post3-img{
   background-image: url(https://us.123rf.com/450wm/maxsheb/maxsheb1810/maxsheb181000249/109274276-cena-en-el-restaurante.jpg?ver=6);
   padding-bottom: 545px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 15;
   background-size: cover;
}
.post3-foot{
   margin-top: 10px;
   font-size: small;
}
P{
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.486);
}
.post4{
    width: 480px;
    height: 650px;
   margin: auto;
   margin-top: 100px;
   background-color: rgba(255, 255, 255, 0.664);
   border-style: groove;
}
.post4-head{
   margin-left: 10px;
   margin-top: 3px;
   font-size: larger;
}
.post4-img{
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSATAZJgLI9JgEOUCuFtRLV5jc-Tc5bfL0QA&usqp=CAU);
   padding-bottom: 545px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 15;
   background-size: cover;
}
.post4-foot{
   margin-top: 10px;
   font-size: small;
}
P{
    font-size: smaller;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.486);
}
.like{
    color: rgb(236, 38, 114);
}
.comment{
    color: rgba(61, 61, 61, 0.829);
}